@model GerenciadorDeTarefas.Models.ViewModels.ListaDeTarefaViewModel

@{
    ViewData["Title"] = "Tarefas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@Model.Nome</h3>

@if (Model.Tarefas.Count == 0)
{
    <p>Ainda não existem tarefas nesta lista</p>
}
else
{
    <tbody>
        @foreach (var item in Model.Tarefas)
        {
            <tr>
                <td> @item.Descricao </td>
                <br />
                <td> @item.Status </td>
                <td>
                    <a asp-action="EditarTarefa" asp-controller="Tarefas" asp-route-id="@item.Id" class="btn btn-light">Editar</a> |
                    <a asp-action="Delete" asp-controller="Tarefas" asp-route-id="@item.Id" class="btn btn-light">Excluir</a>
                </td>
            </tr>
            <br />
        }
    </tbody>
}
<br />
    <a asp-action="CriaTarefa" asp-controller="Tarefas" asp-route-listadetarefaId="@Model.Id" class="btn btn-primary">Nova Tarefa</a>
    <a asp-action="Delete" asp-controller="ListaDeTarefas" asp-route-Id="@Model.Id" class="btn btn-danger">Excluir Lista</a>
