@model GerenciadorDeTarefas.Models.ViewModels.ListaDeTarefaViewModel

@{
    ViewData["Title"] = "Tarefas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
<a asp-action="Tarefa" asp-controller="Tarefas" asp-route-listadetarefaId="@Model.Id" class="btn btn-primary">Nova Tarefa</a>
</p>

@if (Model.Tarefas.Count == 0)
{    
    <p>Ainda não existem tarefas nesta lista</p>
}
else
{<tbody>
        @foreach (var item in Model.Tarefas)
        {
            <tr>
                <td> @item.Descricao </td>
                <td> @item.Status </td>
                <td>
                    <a asp-action="EditarTarefa" asp-controller="Tarefas" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
            <br/>
        }
    </tbody>
}
